// .instance-parent {
    

//     width: 100px;
//     height: 100px;
//     margin-right: 10px;
//     float: left;

//     // display: flex;
//     // justify-content: space-between;
//     .child{
//         float: left;
//         margin-right: 5px;
//     }
// }


// .instance-parent {
//     width: 1081px;
//     height: 54px;
//     padding: 19px 24px 17px 34px;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
//     background-color: #ffffff;
// }

// .child {
// display: flex;
// }

.field-instances {
    display: flex;

    .instance-parent {
        display: flex;
        .child {
            display: flex;

        }
    }
}