.collection-list {
    .eachcollectiontype {
        width: 150px;
        height: 50px;
        // margin: 18px 58px 18px 11px;
        opacity: 0.4;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #ffffff;
        align-items: center;


        // width: 1081px;
        // height: 54px;
        // padding: 19px 24px 17px 34px;
        // border-radius: 8px;
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        // background-color: #ffffff;
    }
}