.contenttypebutton {
    // z-index: 1;
    // position: absolute;
    button {
        width: 273px;
        height: 54px;
        padding: 0 32px 0 0;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        position: relative;
        // right: -200px;
        // left: -0px;
        right: -35px;
        // bottom: -200px;

    }

}